<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Question</title>
</head>

{% load static %}

<body class="blue-grey lighten-5">
    <h3 class="center-align">Question {{ session.current_question|add:"1" }} out of 12</h3>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card center-align">
                    <div class="card-content">
                        <img src="{{hero.portrait.path}}">
                        <p>What's the character's name?</p>
                    </div>
                </div>
            </div>
        </div>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form class="center-align" action="{% url 'polls:detail' session.id %}" method="post">
        {% csrf_token %}
        <div style="display: flex; justify-content: center">
            <div style="width: 200px; display: flex; flex-direction: column; margin-left: 110px">
                {% for choice in answers %}
                    <label style="display: inline-flex" for="choice{{ forloop.counter }}">
                        <input required class="indigo" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.choice_text }}"/>
                        <span style="color: #2e2e2e">{{ choice.choice_text }}</span>
                    </label> 
                {% endfor %}
            </div>
        </div>
        <br>
        <input class="btn indigo" type="submit" value="submit">
        </form>
    </div>
</body>

<style>
 
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #3f51b5;
}
 
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #3f51b5;
}
 
</style>