<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Heroes 3 QUIZ</title>
</head>
<body class="blue-grey lighten-5">
    <div class="container" style="margin-top: 40px">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card center-align">
                    <div class="card-image">
                        <img src="{% static 'C:\Projects\Heroes3quiz\polls\static\portraits\all_heroes.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title"><strong>Heroes 3 QUIZ</strong></span>
                        <p>Take a quick quiz to find out how well do you remember the Heroes 3's characters' names by their portraits.</p>
                    </div>
                    <div class="card-action indigo darken-3">
                        <a href="{% url 'polls:session' %}">Take the quiz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>